/* var.css */
:root {
	--vp-home-hero-name-color: transparent;
	--vp-home-hero-name-background: linear-gradient(120deg, #2CA, #EC0);
	--vp-home-hero-image-background-image: linear-gradient(-45deg, #EC0 30%, #2CA 50%);
	--vp-home-hero-name-background: -webkit-linear-gradient( 120deg, #EC0 30%, #2CA 50%);
	--vp-c-default-soft: #BBB3;
    --vp-c-bg-soft: #BBB3;
	--vp-c-brand-1: #0A8;
	--vp-c-brand-2: #176;
	--vp-c-brand-3: #1A8;
	--vp-c-brand-soft: #2B93;
	--vp-c-bg-a: #FFFA;
    --vp-home-hero-image-filter: blur(44px);
}
 
:root.dark {
	--vp-c-bg-a: #1B1B1F77;
	--vp-c-brand-1: #2B9;
	--vp-c-brand-2: #3CA;
}

::selection {
	background-color: var(--vp-c-brand-soft);
}

@font-face {
	font-family: "标小智无界黑";
	font-weight: bold;
	src: url("https://www.xiyoulinux.com/static/BiaoXiaoZhiWuJieHei.otf");
}

select, input {
	height: 1.8em;
	border-radius: 0.3rem;
	background-color: var(--vp-c-default-soft);
}

select {
	padding: 0 0.2rem;
	appearance: auto;
}

option {
	background-color: var(--vp-c-bg-soft);
}

input {
	padding: 0 0.5rem;
}

input[type="checkbox"] {
	height: 1.2em;
}

.VPHero .heading,
.font-wjh {
	font-family: "标小智无界黑", sans-serif;
}

.VPFeature {
	position: relative;
	overflow: hidden;
	z-index: 0;
}

.VPFeature .icon {
	position: absolute;
	opacity: 0.1;
	right: 10%;
	bottom: 5%;
	background-color: transparent;
	font-size: 8em;
	z-index: -1;
}

.fa-solid,
.fa-regular,
.fa-brands {
	width: 1.3em;
	vertical-align: middle;
	text-align: center;
}

svg:where(.iconify) {
	display: inline-block;
	flex-shrink: 0;
	font-size: 1.2em;
	vertical-align: sub;
}

.tippy-box {
	padding: 0.3em 0.6em;
	border-radius: 0.5em;
	box-shadow: var(--vp-shadow-3);
	background-color: var(--vp-c-bg-elv);
	font-size: 0.8rem;
	line-height: 1.4;
	color: var(--c-text-2);
}

.tippy-box[data-state="hidden"] {
	opacity: 0;
}

.tippy-box > .tippy-svg-arrow {
	fill: var(--vp-c-bg-elv);
}